{% extends 'base.html.twig' %}

{% block title %}Sujets{% endblock %}

{% block content %}
    <div class="container">
        <a type="button" class="btn btn-sm btn-outline-secondary" href="/">Retour</a>
        <div class="topics">
            {% for topic in topics %}
            <div class="jumbotron border bg-light ">
                <div class="container lg-12">
                    <div class="float-right">
                        {% if app.user.username is defined %}
                            {% for role in app.user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    <small class="text-muted">
                                        <a class="btn" href="{{ path('admin_supprimer_topic', {'id':topic.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    </small>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                    <a class="h4" href="{{ path('topic', {'idTopic': topic.getId()}) }}">{{ topic.getTitreTopic() }}</a>
                    <p class="h5">{{topic.getContenuTopic}}</p>
                    <p>{{ topic.getPseudoUser() }} le {{topic.getDateHeureTopic|date("m/d/Y")}} à {{topic.getDateHeureTopic|date("H:i")}}</p>
                </div>

            </div>
            {% endfor %}
            {% if app.user.username is defined %}
                <div class="jumbotron border bg-light">
                    <div class="container lg-12">
                    {{  form_start(formTopic) }}
                        <h5>Créer un nouveau sujet</h5>

                        {{  form_widget(formTopic.titreTopic, {'attr': {'id': "titre",  'maxlength': "100", 'minlength': "2", 'placeholder': "Votre titre"}}) }}
                        <small id="emailHelp" class="form-text text-muted">100 caractères max.</small>

                        {{  form_widget(formTopic.contenuTopic, {'attr': {'class': "form-control", 'cols': "150", 'rows': "5", 'placeholder': "Votre message", 'maxlength': "500", 'minlength': "2"}}) }}
                        <small id="emailHelp" class="form-text text-muted">500 caractères max.</small>

                        <button type="submit" class="btn btn btn-primary">Envoyer</button>

                    {{  form_end(formTopic) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}